.heading{
    width: 80%;
    font-size: 22px;
}
body{
    background-color:darkblue;
    color:black;
}
.objects,#object-name,#object-accurracy{
    color:white;
}
#camera{
    height: 300px;
    width: 350px;
    border: 2px dashed black;
}